 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_cours') }}">Cours</a></li>
  <li><a href="{{ path('BP_show_cours_partie', {'id': cours_id}) }}">Parties</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Parties</h3>

 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Cours</th>
        <th>Questions</th>
       
        <th>Action</th>
         
      </tr>
    </thead>


    <tfoot>
      <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Cours</th>
        <th>Questions</th>
       
        <th>Action</th>
         
      </tr>
    </tfoot>

    <tbody>

  {% for partie in listParties %}

  <tr>
  <td>   {{ partie.titre }} </td> 
  <td>   {{ partie.contenu }} </td> 
  <td>   {{ partie.cours.nom }} </td> 


{% if nb_questions[partie.id] > 0 %}

  <td><a href="{{ path('BP_show_cours_question',{'id': partie.id}) }}" title="questions">{{ nb_questions[partie.id] }} </a>  </td>
 
{% else %}
  <td>   {{ nb_questions[partie.id] }} </td> 
{% endif %}





   <td> <a href="{{ path('BP_update_cours_partie',{'id': partie.id}) }}" title="modifier la Partie"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
        <a href="{{ path('BP_delete_cours_partie', {'id': partie.id}) }}" title="supprimer la partie" onclick="return confirm('Etes vous sûr de vouloir supprimer la partie?')" ><span class="glyphicon glyphicon-trash"></span></a> &nbsp 
        <a href="{{ path('BP_show_exo_question',{'id': partie.id}) }}" title="Question"><span class="glyphicon glyphicon-question-sign"></span> </a> </td>

    </tr>
  {% endfor %}
 
 </tbody>
 </table>
  <a class="btn btn btn-success" href="{{ path('BP_n_cours_partie', {'id': cours_id}) }}" role="button">Ajouter une Partie</a>


{% endblock %}