 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_exo_question', {'id': partie_id}) }}">Questions</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Questions</h3>

 
  
   <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Question</th>
        <th>Réponse</th>
        <th>Barême</th>
        <th>Partie</th>
        <th>Exercice</th>
       
        <th>Action</th>
         
      </tr>
    </thead>


    <tbody>

  {% for question in listQuestions %}

  <tr>
  <td>   {{ question.question }} </td> 
  <td>   {{ question.reponse }} </td> 
  <td>   {{ question.bareme }} </td> 
  <td>   {{ question.partie.titre }} </td> 
  <td> <a href="{{ path('BP_show_exo_partie',{'id': question.partie.exercice.id}) }}" title="exercice">{{ question.partie.exercice.nom }} </a>   </td> 
 
   <td> <a href="{{ path('BP_update_exo_partie',{'id': question.partie.id}) }}" title="modifier l'exercice"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
        <a href="{{ path('BP_delete_exo_partie', {'id': question.partie.id}) }}" title="supprimer l'exercice" onclick="return confirm('Etes vous sûr de vouloir supprimer l exercice?')" ><span class="glyphicon glyphicon-trash"></span></a> &nbsp 
        <a href="{{ path('BP_update_exo_partie',{'id': question.partie.id}) }}" title="Question"><span class="glyphicon glyphicon-question-sign"></span> </a> </td>

    </tr>
  {% endfor %}
 
 </tbody>
 </table>
  <a class="btn btn btn-success" href="{{ path('BP_n_exo_question', {'id': partie_id}) }}" role="button">Ajouter une Question</a>


{% endblock %}