 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_exo_partie') }}">Parties</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Parties</h3>

 
  
   <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Contenu</th>
        <th>Exercice</th>
       
        <th>Action</th>
         
      </tr>
    </thead>


    <tbody>

  {% for partie in listParties %}

  <tr>
  <td>   {{ partie.contenu }} </td> 
  <td>   {{ partie.exercice.nom }} </td> 
 
   <td> <a href="{{ path('BP_update_exo_partie',{'id': partie.id}) }}" title="modifier l'exercice"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
        <a href="{{ path('BP_delete_exo_partie', {'id': partie.id}) }}" title="supprimer l'exercice" onclick="return confirm('Etes vous sûr de vouloir supprimer l exercice?')" ><span class="glyphicon glyphicon-trash"></span></a> &nbsp 
        <a href="{{ path('BP_update_exo_partie',{'id': partie.id}) }}" title="ajouter partie"><span class="glyphicon glyphicon-plus"></span> </a> </td>

    </tr>
  {% endfor %}
 
 </tbody>
 </table>
  <a class="btn btn btn-success" href="{{ path('BP_n_exo_partie') }}" role="button">Ajouter une Partie</a>


{% endblock %}