 
 {% extends "BrainsUserBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('BP_show_exercice') }}">Questions</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Questions</h3>

 
  
   <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Question</th>
        <th>Reponse</th>
        <th>Bareme</th>
        <th>Exercice</th>
        <th>Action</th>
         
      </tr>
    </thead>


    <tbody>

  {% for question in listQuestions %}

  <tr>
  <td>   {{ question.question }} </td> 
  <td> {{ question.reponse }} </td>
  <td> {{ question.bareme }} </td>
   <td> {{ question.exercice.nom }} </td>
  

   <td> <a href="{{ path('BP_update_exercice',{'id': question.id}) }}"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
        <a href="{{ path('BP_delete_exercice', {'id': question.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer l exercice?')" ><span class="glyphicon glyphicon-trash"></span></a> </td>

    </tr>
  {% endfor %}








 
 </tbody>
 </table>



<div id="dialog-form" title="Ajouter une question" disabled>
  <p class="validateTips">tous les champs sont requis</p>
 

<form>
    <fieldset>
      <label for="Question">Question</label>
      <input type="text" name="question" id="question" value="" class="text ui-widget-content ui-corner-all">
      <label for="Reponse">Réponse</label>
      <input type="text" name="reponse" id="reponse" value="" class="text ui-widget-content ui-corner-all">
      <input type="hidden" id="exercice" value={{id}} >
    
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>





</div>
<button id="create-user">Ajouter une nouvelle question</button>


{% endblock %}